#main{
    background: grey;
    text-align: center;
    margin-top: 2px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    h1{
        text-align: center;
        font: purple;
        background-color: grey;
    }
    #after{
        visibility: hidden;
    }
    